{% extends 'main.html' %}

{% block content %}
<div class="w3-container w3-content" style="max-width: 1400px; margin-top: 80px;">

    <div class="w3-row-padding">
        <div class="w3-third">
            <div class="w3-white w3-text w3-card-4">
                <div class="w3-container">
                    <h2 class="w3-text-theme w3-center">Some greeting</h2>
                    <p class=" w3-center">Nice to meet you, welcome to us.</p>
                </div>

            </div><br>
        </div>
        <button class="w3-button w3-theme w3-right w3-right"><i class="fa fa"></i> Log In</button>
        <button class="w3-button w3-theme w3-right w3-right"><i class="fa fa-plus"></i> Create profile</button>


        
    </div>
</div>

{% endblock %}
